extend __LAYOUT-TEMPLATE.pug
include ../../_COG-Framework-2020/pug/_navigation.pug
include ../../_COG-Framework-2020/pug/_footer.pug

block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

block content
  //- h1!= pageTitle
  //- .text-center.bg-gray-light
  //-   img(src="images/nav-secondary.jpg")
  //- .text-center
  //-   img(src="images/nav-primary.jpg")
  //- .align-middle.text-center.medium-text-left.video-background.bg-pos-center-center(data-interchange="[images/video-backgrounds/ie-bg.jpg, small],[images/video-backgrounds/ie-bg.jpg, medium],[../images/transparent.gif, large]")
    video.hide-for-small-only#video-in-place-3(data-toggler=".hide" playsinline autoplay loop muted poster="images/video-backgrounds/ie-bg.jpg")
      source(src="images/video-backgrounds/ie-bg.mp4" type="video/mp4")
    .grid-container#video-in-place-1(data-toggler=".hide")
      .grid-x.grid-padding-x.align-middle.py5.medium-h80vh
        .cell.medium-auto.medium-offset-1
          h1.lh1 Intuition engineered
          p With IoT, Al, software and cloud, Cognizant engineers businesses to anticipate expectations and act instantly.
        .cell.medium-auto
          a.text-white.super-size.link-coverAll(data-toggle="video-in-place-1 video-in-place-2 video-in-place-3")
            i.play-button.text-center
              p.text-heavy.tiny.mt1 WATCH NOW
    .hide.bg-black.py4.medium-py2#video-in-place-2(data-toggler=".hide")
      .grid-container
        button.close-button(aria-label="Close alert", type="button", data-close="")
          span(aria-hidden="true" data-toggle="video-in-place-1 video-in-place-2 video-in-place-3") &times;
        .grid-x.grid-padding-x
          .cell
            .responsive-embed.widescreen
              iframe(src="https://www.youtube.com/embed/496vDXsr9fw" frameborder="0" allowfullscreen)
          .cell.text-center.flex-container.align-center-middle
            a.small.mr2(href="#" data-toggle="video-in-place-1 video-in-place-2 video-in-place-3") CLOSE
            a.button.arrow.m0(href="#") LEARN MORE

  //- .my6

  //- .text-center.bg-gray-light
  //-   img(src="images/nav-secondary.jpg")
  //- .text-center
  //-   img(src="images/nav-primary.jpg")

  +subnav(class="theme-default")
  +primaryNav(class="theme-default")

  .align-middle.text-center.medium-text-left.video-background.bg-pos-center-center(data-interchange="[images/video-backgrounds/ie-bg.jpg, small],[../images/transparent.gif, medium],[../images/transparent.gif, large]")
    video.hide-for-small-only#ie-video-banner-bg(data-toggler=".hide" playsinline autoplay loop muted poster="images/video-backgrounds/ie-bg.jpg")
      source(src="images/video-backgrounds/ie-bg.mp4" type="video/mp4")
    .grid-container.fluid#ie-video-banner-static(data-toggler=".hide")
      .grid-x.grid-padding-x.align-middle.py5.medium-py0.medium-min-h80vh
        .cell.medium-auto.medium-offset-1.text-white
          h1.lh1.mb2 Now, intuition can be engineered.
          h5.text-normal With expertise in AI, IoT, software and cloud, Cognizant engineers businesses to act with the insight and speed of human intuition.
        .cell.medium-3.flex-container.align-center.large-align-left
          a.open-button-trigger.text-white.text-center.link-coverAll(data-toggle="ie-video-banner-static ie-video-banner-youtube ie-video-banner-bg")
            i.play-button.super-size
            .text-heavy.tiny.mt1 WATCH NOW
    .hide.bg-black#ie-video-banner-youtube(data-toggler=".hide")
      .grid-container.w100.py5.medium-py0.medium-min-h80vh
        .grid-x.w100
          .cell.align-self-bottom
            .responsive-embed.widescreen.m0
              iframe#youtube-video(src="" autoplay="1" frameborder="0" allowfullscreen)
          .cell.large-align-self-middle.text-center.py1
            .grid-x.align-center-middle.w100
              .cell.large-shrink.small-order-2.large-order-1.mt1.large-mt0.large-mr1
                a.close-button-trigger.small(href="#" data-toggle="ie-video-banner-static ie-video-banner-youtube ie-video-banner-bg") CLOSE
              .cell.large-shrink.small-order-1.large-order-2
                a.button.arrow.m0(href="#") EXPERIENCE MORE
      button.close-button.close-button-trigger(aria-label="Close alert", type="button", data-close)
        span(aria-hidden="true" data-toggle="ie-video-banner-static ie-video-banner-youtube ie-video-banner-bg") &times;

  .mb10

  block extraScripts
    script.
      var youtube_link = 'https://www.youtube.com/embed/496vDXsr9fw'

      var youtube_autoplay = youtube_link + '?enablejsapi=1&showinfo=0&modestbranding=1&wmode=transparent&controls=1&autohide=1&rel=0&autoplay=1&autoplay=1'
      var youtube_no_autoplay = youtube_link + '?enablejsapi=1&showinfo=0&modestbranding=1&wmode=transparent&controls=1&autohide=1&rel=0'
  
      $('.open-button-trigger').click(function(){
        $('#youtube-video').attr('src', youtube_autoplay)
      });

      $('.close-button-trigger').click(function(){
        $('#youtube-video').attr('src', youtube_no_autoplay)
      });