extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

block content

  .grid-container
    .grid-x.grid-padding-x.grid-padding-y
      .cell.bg-gray-light
        h6 REVENUE
        h3.text-blue-light.bd-b-1 $16.7B
        p down 0.8%