extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

block content

  .grid-container
    .grid-x.grid-padding-x.grid-padding-y.medium-up-2
      .cell.bg-gray-lighter
        h6 REVENUE
        h2.text-blue-light.bd-b-1.pb1 $16.7B
        p down 0.8% as reported and 0.7% in constant currency1 from 2019
