extend __LAYOUT-TEMPLATE.pug
block vars
  - var pageTitle = "CHANGE_ME"
  - var siteURL = "https://www.dannylewandowski.com/_cog-DEV/_PROTOTYPING/Components/_BUILD/"

block content

  .grid-container
    .grid-x.grid-padding-x.grid-padding-y.medium-up-2
      .cell.bg-gray-lighter.p1
        h6 REVENUE
        h3.h1.text-blue-light.bd-b-1.pb1 $16.7B
        p down 0.8% as reported and 0.7% in constant currency
          sup 1
          |  from 2019

      .cell.bg-gray-lighter.p1
        h6 CAPITAL RETURNED
        h3.h1.text-blue-light.bd-b-1.pb1 $2.1B
        p through dividends and share repurchases

      .cell.bg-gray-lighter.p1
        h6 GAAP OPERATING INCOME
        h3.h1.text-blue-light.bd-b-1.pb1 $2.1B
        p with 12.7% operating margin

      .cell.bg-gray-lighter.p1
        h6 FREE CASH FLOW
          sup 2
        h3.h1.text-blue-light.bd-b-1.pb1 $2.9B
        p with 12.7% operating margin
